# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Ambientes virtuais
venv/
env/
ENV/
.venv

# Flask
instance/
.env
*.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Sistema Operacional
.DS_Store
Thumbs.db

# Uploads (ignorar imagens mas manter a estrutura)
app/static/uploads/*
!app/static/uploads/.gitkeep

# Logs
*.log
