{% extends 'base.html' %}

{% block title %}Xodó da Preta - Sobre Mim{% endblock %}

{% block content %}
<section class="bg-success py-5">
    <div class="container">
        <div class="row align-items-center py-5">
            <div class="col-md-8 text-white">
                <h1>Sobre Mim</h1>
                <p>Eu sou Teresa Cristina, cofundadora e estilista e designer de acessórios da Xodó da Preta. Neuropsicopedagoga de formação porém, sempre fui apaixonada por acessórios e sonhava criar minhas próprias roupas.</p>
            </div>
            <div class="col-md-4">
                
            </div>
        </div>
    </div>
</section>

<!-- Start Section -->
<section class="container py-5">
    <div class="row text-center pt-5 pb-3">
        <div class="col-lg-8 m-auto">
            <h1 class="h1">Nossos Serviços</h1>
            <p>
                A Xodó da Preta disponibiliza a criação e venda de moda e acessórios afro autorais e inclusivos, pensados para vestir todos os corpos e gêneros com representatividade, identidade e versatilidade. Como serviço fundamental, a marca garante a transmissão de alegria através das estampas e cores, e ainda se compromete com a sustentabilidade e a economia circular em sua produção.
            </p>
        </div>
    </div>
</section>
<!-- End Section -->
{% endblock %}