{% extends 'base.html' %}

{% block title %}Xodó da Preta - Home{% endblock %}

{% block content %}
<!-- Start Banner Hero -->
<div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="{{ url_for('static', filename='zay/assets/img/banner_img_01.jpg') }}" alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left align-self-center">
                            <h1 class="h1 text-success"><b> </b> Autenticidade e Inclusão </h1>
                            <h3 class="h2"> Identidade, Versatilidade e Representatividade </h3>
                            <p>
                                Desenvolvemos moda e acessórios afro autorais que celebram suas raízes. Nossas estampas são únicas e cheias de alegria, com peças pensadas para vestir com conforto e versatilidade todos os corpos e todos os gêneros.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="{{ url_for('static', filename='zay/assets/img/banner_img_02.jpg') }}" alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left">
                            <h1 class="h1 text-success"> Uma História de Afeto </h1>
                            <h3 class="h2"> Xodó da Preta, criada pela minha mãe Marli </h3>
                            <p>
                                Mais que uma marca, somos um sonho de família que se tornou realidade. Cada peça é idealizada pela minha mãe, Marli, e carrega o propósito de transmitir identidade, afeto e representatividade
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="{{ url_for('static', filename='zay/assets/img/banner_img_03.jpg') }}" alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left">
                            <h1 class="h1 text-success"> Produção Consciente </h1>
                            <h3 class="h2"> Sustentabilidade e Economia Circular </h3>
                            <p>
                                Nosso compromisso com o planeta é real. Prezamos por uma produção que respeita o meio ambiente e reforça a economia circular. Isso significa menos desperdício e mais impacto positivo, criando
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="prev">
        <i class="fas fa-chevron-left"></i>
    </a>
    <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="next">
        <i class="fas fa-chevron-right"></i>
    </a>
</div>
<!-- End Banner Hero -->

<!-- Start Categories of The Month -->
<section class="container py-5">
    <div class="row text-center pt-3">
        <div class="col-lg-6 m-auto">
            <h1 class="h1">Categorias</h1>
            <p>
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4 p-5 mt-3">
            <a href="#"><img src="{{ url_for('static', filename='zay/assets/img/category_img_01.jpg') }}" class="rounded-circle img-fluid border"></a>
            <h5 class="text-center mt-3 mb-3">Colares</h5>
        </div>
        <div class="col-12 col-md-4 p-5 mt-3">
            <a href="#"><img src="{{ url_for('static', filename='zay/assets/img/category_img_02.jpg') }}" class="rounded-circle img-fluid border"></a>
            <h2 class="h5 text-center mt-3 mb-3">Anéis</h2>
        </div>
        <div class="col-12 col-md-4 p-5 mt-3">
            <a href="#"><img src="{{ url_for('static', filename='zay/assets/img/category_img_03.jpg') }}" class="rounded-circle img-fluid border"></a>
            <h2 class="h5 text-center mt-3 mb-3">Pulseiras</h2>
        </div>
    </div>
</section>
<!-- End Categories of The Month -->
{% endblock %}